:root {
  --primary: brown;
  --content: rgb(230, 228, 228);
  --body: rgb(32, 32, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: monospace;
}

body {
  background-color: var(--body);
}

/* Header Section */

#logo-site{
  width: 100px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 70px;
  padding: 20px;
}

a {
  color: whitesmoke;
  font-weight: bold;
}

/* Botões Dificuldade */

.header-title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 10%;
}

.intro{
  display: flex;
  align-items: center;
  font-size: 30px;
}

.cartas-temas{
  padding: 20px;
  font-size: 20px;
}

#temas{
  padding: 10px;
  color: whitesmoke;
  width: 200px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--body);
  border-radius: 10px;
}

#temas:focus{
  outline: none;
}

#temas:hover{
  cursor: pointer;
  background-color: rgb(13, 0, 54);
}

.jogo-dificuldade{
  padding: 20px;
  font-size: 20px;
}

#dificuldade{
  padding: 10px;
  color: whitesmoke;
  font-size: 15px;
  text-align: center;
  width: 200px;
  font-weight: bold;
  background-color: var(--body);
  border-radius: 10px;
}

#dificuldade:hover{
  cursor: pointer;
  background-color: rgb(13, 0, 54);
}

#dificuldade:focus{
  outline: none;
}

/* Header of Main Section */

.header-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(72, 19, 121);
}

.header-content img {
  margin: 10px;
  height: 100px;
  width: 100px;
}

.header-content .intro{
  margin: 10px;
  color: whitesmoke;
  font-weight: bold;
}

.conteudo-aqui {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 10px 10px;
}

/* .pokeball {
  height: 50px;
} */

.pokeball .line {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body);
}

/* .pokeball .main-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--body);
}

.pokeball .dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: whitesmoke;
} */

/* Main Section */

.flip {
  transition: 1s;
  transform: rotateY(180deg);
}

.main-body {
  display: flex;
  justify-content: center;
  height: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  border-radius: 20px;
  background-color: var(--content);
}

/* Estilo das cartas */

#cardBoard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: auto;
  padding: 10px;
  max-width: 900px;
}

.memory-card{
  height: 200px;
  width: 200px;
  margin: 5px;
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;

}

.memory-card:active{
  transform: scale(0.97);
}

.memory-card.flip{
  transform: rotateY(180deg);
}

.front-card, .back-card{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  background: var(--body);
}

.front-card{
  transform: rotateY(180deg);
}

.front-card {
  transform: translateZ(0px);
}

.img-backcard{
  height: 65px;
}

/* Footer Section */

.main-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
  height: 30px;
}

.main-footer p {
  color: whitesmoke;
}

.main-footer span {
  color: var(--primary);
}

#flex-center{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#contador{
  font-size: 35px;
  color: black;
}